{% extends "layout.html" %}
{% block content %}

<main class="main">

    <!-- Page Title -->
    <div class="page-title bg-body-secondary">
      <div class="container">
        <h1><i class="bi bi-whatsapp" style="font-size: 3vw; color: green;"></i> WhatsApp Integration </h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/fliparrow-products/">Products</a></li>
            <li class="current">Integrate with AnyApp </li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
        <section id="service-details" class="service-details section">    
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="content)">
                                    <h1 class="card-title" style="font-size: 3vw; color: green;">WhatsApp Integration with TallyPrime</h1>
                                    <p class="lead">Integrate WhatsApp with TallyPrime to streamline communication and enhance customer engagement. This integration allows businesses to send invoices, payment reminders, and promotional messages directly through WhatsApp, leveraging its widespread use for instant communication.</p>
                                  
                                </div>
                            </div>  
                        </div>
                    </div>       
                </div>  
            </div>
            <div class="container-fluid mt-4 mb-4">
                    <div class="row gy-4 bg-success ">
                        <div class="col-lg-12">
                            <div class="container  mb-5">
                                <i class="bi bi-lightbulb"></i>
                                <h2 class="text-center text-white "style="font-size: 4vw;" >Key Features of WhatsApp Integration with <b>TallyPrime</b></h2>
 <!--Start Feature-->        
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Invoice Sharing
                                        </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                           <p class="lead">Automatically send GST-compliant invoices to customers  .</div>
                                        </div>
                                    </div>
                                <!--Feature Item-2-->    
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Ledger Statement 
                                        </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                           <p class="lead">Share detailed ledger statements with customers, including transaction history, balances remark . </div>
                                        </div>
                                    </div>
                                <!--Feature Item-3-->       
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                 Outstanding Alerts
                                                 </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="lead">Notify customers of pending dues with a concise summary of outstanding amounts and due dates.</p>
                                            </div>
                                        </div>
                                    </div> 
                                    <!--end of Feature-->
                                     <!--Feature Item-4-->       
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                 Time-Saving
                                                 </button>
                                        </h2>
                                        <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="lead">No need to manually export and send documents— Now it is automated and instant.</p>
                                            </div>
                                        </div>
                                    </div> 
                                    <!--end of Feature-->
                                    <!--Feature Item-5--> 
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                 Better Customer Engagement
                                                 </button>
                                        </h2>
                                        <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="lead">Customers appreciate real-time updates and professional communication.</p>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    <!--end of Feature-->
                                    <!--Feature Item-6--> 
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                                 Timely Payment Collection 
                                                 </button>
                                        </h2>
                                        <div id="collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="lead">Timely reminders improve cash flow and reduce outstanding dues.</p>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    <!--end of Feature-->
                        </div>   
                    </div>        
                </div>
            </div>    
<!--Customer Satisfaction -->
                                            <div class="container-fluid mt-4 mb-4">
                                                <div class="row gy-4 bg-warning-subtle">
                                                    <div class="col-lg-12">
                                                        <div class="container  mb-5">
                                                            
                                                        <h2 class="text-center"style="font-size: 4vw;"><i class="bi bi-people"></i>  Build for All size Businesses</h2>
                                                        <div class="text-center">
                                                            <img src="{{url_for('static',filename='assets/img/misc/whatsappTestimonial.jpg')}}" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


<!--End of Customer Satisfaction -->
<!--QA Satisfaction -->
                                            <div class="container-fluid mt-4 mb-4">
                                                <div class="row gy-4 bg-info-subtle">
                                                    <div class="col-lg-12">
                                                        <div class="container  mb-5">
                                                        <h2 class="text-center"style="font-size: 4rem;"><i class="bi bi-person-raised-hand"></i> Tally with WhatsApp</h2>
                                                        <!--Pricing Chart-->
                                                <div class="row">
                                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                                <div class="card">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Quarterly Plan</h5>
                                                                     <h3>₹ 1500 </h3> <br>                                                             
                                                                    </p>
                                                                    <p class="fw-light">18% GST Extra</p>
                                                                    <a href="#" class="btn btn-primary">Subscribe Now</a>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="card">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Annual Plan</h5>
                                                                    <p class="card-text lead ">
                                                                        <h3>₹ 4500 </h3> <br>                                                             
                                                                    </p>
                                                                    <p class="fw-light">18% GST Extra</p>
                                                                    <a href="#" class="btn btn-primary">Subscribe Now</a>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        <!--End Pricing -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


<!--End of Customer Satisfaction -->
<!--Demo Section -->
            <div class="container-fluid mt-4 mb-4">
                <div class="row gy-4 bg-black">
                    <div class="col-lg-12">
                        <div class="container  mb-5">
                            <h2 class="text-center text-white"style="font-size: 4rem;">10 Days Free Demo</h2>
                        <!---form Section -->
                         <form>
  <div class="row mb-3 mt-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name </label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="inputEmail3" placeholder="Enter Your Name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label" >Mobile Number</label>
    <div class="col-sm-10">
      <input type="mobile" class="form-control" id="inputPassword3" placeholder="Mobile">
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Duration of Demo </legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          5 Dyas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          10 Days
        </label>
      </div>
      
    </div>
  </fieldset>
  <div class="row mb-3">
    <div class="col-lg-10 offset-sm-6">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </div>
  
</form>
                
                        <!--End Form Section -->
                        
                        
                        </div>
                    </div>    
                </div>
            </div>    
                <!--ENd Demo Section -->

        </section>    


    {% endblock %}